In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import display, clear_output

In [2]:
dataset= pd.read_csv("stroke prediction.csv")
dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [3]:
dataset["gender"]=dataset["gender"].astype('category')
dataset["ever_married"]=dataset["ever_married"].astype('category')
dataset["Residence_type"]=dataset["Residence_type"].astype('category')
dataset["work_type"]=dataset["work_type"].astype('category')
dataset["smoking_status"]=dataset.smoking_status.astype('category')

In [4]:
dataset_imputed=dataset.copy()

In [5]:
dataset_imputed.dtypes

id                      int64
gender               category
age                   float64
hypertension            int64
heart_disease           int64
ever_married         category
work_type            category
Residence_type       category
avg_glucose_level     float64
bmi                   float64
smoking_status       category
stroke                  int64
dtype: object

In [6]:
X=dataset_imputed.drop(columns=["id","stroke"],axis=1)
y=dataset_imputed["stroke"]

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=88,stratify=y)

In [7]:
from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()

X_train.gender=encoder.fit_transform(X_train.gender)

X_train.ever_married=encoder.fit_transform(X_train.ever_married)

X_train.work_type=encoder.fit_transform(X_train.work_type)

X_train.Residence_type=encoder.fit_transform(X_train.Residence_type)

X_train.smoking_status=X_train.smoking_status.map({'never smoked':0,'formerly smoked':1,'smokes':2})

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [8]:
from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()

X_test.gender=encoder.fit_transform(X_test.gender)

X_test.ever_married=encoder.fit_transform(X_test.ever_married)

X_test.work_type=encoder.fit_transform(X_test.work_type)

X_test.Residence_type=encoder.fit_transform(X_test.Residence_type)

X_test.smoking_status=X_test.smoking_status.map({'never smoked':0,'formerly smoked':1,'smokes':2})

In [9]:
from sklearn.impute import KNNImputer

imputer=KNNImputer()

X_trimputed=pd.DataFrame(imputer.fit_transform(X_train),columns=X_train.columns)

X_teimputed=pd.DataFrame(imputer.transform(X_test),columns=X_test.columns)

In [10]:
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()

scaler.fit(X_trimputed)

X_trimputed=pd.DataFrame(scaler.transform(X_trimputed),columns=X_train.columns)

X_teimputed=pd.DataFrame(scaler.transform(X_teimputed),columns=X_test.columns)

In [11]:
X_trimputed

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,0.5,0.047852,0.0,0.0,0.0,1.00,1.0,0.345280,0.080000,0.0
1,0.5,0.108887,0.0,0.0,0.0,1.00,0.0,0.150568,0.196571,0.0
2,0.5,0.353027,0.0,0.0,1.0,0.50,0.0,0.227419,0.222857,0.0
3,0.5,0.768066,0.0,0.0,1.0,0.50,1.0,0.125233,0.241143,0.5
4,0.0,0.816895,0.0,0.0,1.0,0.75,0.0,0.065328,0.185143,0.0
...,...,...,...,...,...,...,...,...,...,...
34715,0.0,0.755859,0.0,0.0,1.0,0.50,1.0,0.016480,0.217143,0.5
34716,0.0,0.523926,0.0,0.0,0.0,0.00,1.0,0.168658,0.224000,0.0
34717,0.0,0.279785,0.0,0.0,0.0,0.50,1.0,0.184926,0.208000,0.3
34718,0.5,0.108887,0.0,0.0,0.0,1.00,1.0,0.402432,0.083429,0.1
34719,0.0,0.377441,0.0,0.0,1.0,0.75,1.0,0.094772,0.337143,0.0

In [12]:
X_teimputed

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,0.0,0.926758,0.0,0.0,1.0,0.75,0.0,0.014786,0.221714,0.0
1,0.0,0.572754,0.0,0.0,1.0,0.00,1.0,0.179546,0.168000,0.0
2,0.0,0.584961,0.0,0.0,1.0,0.50,1.0,0.743984,0.115429,1.0
3,0.5,0.560547,0.0,0.0,1.0,0.50,1.0,0.125275,0.257143,0.0
4,0.5,0.279785,0.0,0.0,0.0,0.75,1.0,0.003559,0.174857,0.0
...,...,...,...,...,...,...,...,...,...,...
8675,0.0,0.572754,0.0,0.0,1.0,0.75,1.0,0.079224,0.274286,1.0
8676,0.5,0.023438,0.0,0.0,0.0,1.00,0.0,0.157939,0.108571,0.2
8677,0.0,0.450684,0.0,0.0,1.0,0.50,0.0,0.055372,0.102857,0.0
8678,0.5,0.633789,0.0,0.0,1.0,0.75,0.0,0.151881,0.205714,0.6
8679,0.5,0.609375,0.0,0.0,1.0,0.75,0.0,0.031647,0.194286,0.0

In [13]:
from sklearn.neighbors import KNeighborsClassifier as KNN

In [14]:
# f1scores=[]

# for i in range(1,40):
#     classifier=KNN(n_neighbors=5)

#     classifier.fit(X_trimputed,y_train)

#     y_pred=classifier.predict(X_teimputed)

#     from sklearn.metrics import f1_score

#     f1scores.append(f1_score(y_test,y_pred))

In [15]:
from sklearn.model_selection import cross_val_score

In [16]:


def val_score(n_neighbors):
    
    avg=[]
    std=[]
    
    
    for i in n_neighbors:
        score = cross_val_score(KNN(n_neighbors=i),scoring='f1',X=X_trimputed, y=y_train, cv=10)
        
        
        avg.append(score.mean())
        std.append(score.std())
        
    return avg,std

In [17]:
n_neighbors = range(1,50)
mean, std = val_score(n_neighbors)

In [18]:
mean

[0.0490992649957461,
 0.003076923076923077,
 0.008148299143854346,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [19]:
std

[0.02969934547463665,
 0.00923076923076923,
 0.012492249469408632,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]